== render 'layouts/navigation'

h2 Contact

p Praesent rhoncus, ipsum non tempus pharetra, ex est euismod
  risus, eu scelerisque sapien nulla eget erat. Phasellus tristique
  orci quis urna pulvinar, id cursus magna bibendum. Pellentesque
  rutrum dapibus sodales. Pellentesque pellentesque, tellus fermentum
  interdum cursus, enim metus malesuada quam, sed ornare magna mi nec
  quam. Maecenas mattis, nisl non ultricies auctor, turpis dui
  ullamcorper massa, et consectetur lectus velit at sapien.
  Pellentesque habitant morbi tristique senectus et netus et malesuada
  fames ac turpis egestas. Aenean eget vehicula nisi. Nulla gravida
  at ex quis bibendum.

p Phone: 555-555-5555

p Address: 123 Test St Exampleville

p
  | Email: 
  == mail_to 'admin@example.com'
