// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cra-red: #E6393F;
$cra-blue: #213770;
$cra-white: #FFF;

body{
  background-color: $cra-red;
  width: calc(100vw - 34px);

  .container{
    background-color: $cra-white;

    .company_name{
      color: $cra-blue;
    }

    .jumbotron{
      text-align: center;
    }

    .well{
      text-align: center;
    }
  }
}

.product_page{
  h1{
    text-align: center;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

nav.pagination_holder{
  text-align: center;

  ul.pagination{
    display: inline-block;
  }
}
